*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-synthesis: none;
  background-color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;

  /*width: 1126px;*/
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  box-sizing: border-box;
}